[data-testid="stAppViewContainer"] {
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.istockphoto.com%2Fillustrations%2Fcasino-background&psig=AOvVaw3VxxCC6gSTOH9qkiU1F4Ao&ust=1720267702861000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCIiAqN7uj4cDFQAAAAAdAAAAABAE");
    background-size: cover;
}

div.block-container.st-emotion-cache-1jicfl2.ea3mdgi5 {
    background-color: lightblue;
}
/* Hide Streamlit Branding */
#MainMenu {
    visibility: hidden;
}
footer {visibility: hidden;}
header {visibility: hidden;}
